.notes {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.notes-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    cursor: grab;
    &.as-grabbing {
        cursor: grabbing;
    }
}
.notes-canvas-pinnacle {
    position: absolute;
    top: 0px;
    left: 0px;
}

.notes-toolbar {
    position: sticky;
    padding: 10px;
    top: 0px;
    background-color: white;
    @size: 15px;
    box-shadow: 0 @size @size -@size rgba(0, 0, 0, 0.5);
}

.note-content {
    flex-grow: 1;
    overflow: scroll;
    padding: 2px;
    cursor: auto;
}

.notes-search {
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    bottom: 200px;
    background-color: white;
    border: solid 1px lightgray;
    @size: 15px;
    box-shadow: 0 @size @size -@size rgba(0, 0, 0, 0.5);
    padding: 20px;
}
.notes-search-input {
    width: 100%;
}
.notes-search-results {
}
.notes-search-result {
    &:hover {
        background-color: navy;
        color: white;
    }
}