
.toolbar {
    .off();
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
    padding-bottom: @off;
}
.toolbar-label {
    .off();
}
.toolbar-label.as-current {
    font-weight: bold;
}
.toolbar-separator {
    .wall();
}
.toolbar-pairing-suggestions {
    height: 50px;
    overflow-y: auto;
}
